<section id="analyzer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>OmniFace Analyzer - Explore Faces From Portraits And Their Skin Color Over Time</h3>
            </div>
            <div class="col-12">
                <div class="row  align-items-start">
                    <div class="col-12 two-column-text">

                        <small> Welcome to the OmniFace Analyzer, a multi-view analyzer that allows you to understand
                            how artists
                            have chosen people's skin color using three different views. On the left side you can see
                            the
                            distribution of
                            the different skin colors.
                            On the right side you will find the average representative face selected
                            according to the current face filter displayed below. Here you can choose between the
                            dimensions
                            gender, age and colour
                            group. If you want to get a deeper insight you can also browse the left diagram with the
                            dataset
                            filter.
                            You can also toggle between the average face and facial landmarks and explore the most similar faces below
                            the
                            average face.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-eq-height pt-4 align-items-start">
            <div class="col-12 col-sm-6" id="analyzer-left">
                <div id="bubble"></div>
            </div>
            <div class="col-12 col-sm-6 text-center" id="analyzer-right">
                <div class="row">
                    <div class="col-12">
                        <div class="btn float-right" id="toggle">View Facial Landmarks</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-9">
                        <div class="svg-warped-face-container">
                            <svg class="w-100 h-100 rounded-circle shadow" id="svg-warped-face-box"
                                viewport="0 0 1200 1200" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <svg id="svg-masked-face-1" style="display: none;" preserveAspectRatio="xMidYMid meet"
                                    viewBox="0 0 1200 1200">
                                    <image id="masked-face-1" class="w-100" href="../static/img/no_points.png" />
                                </svg>
                                <svg id="svg-masked-face-2" style="display: none;" preserveAspectRatio="xMidYMid meet"
                                    viewBox="0 0 1200 1200">
                                    <image id="masked-face-2" class="w-100" href="../static/img/no_points.png" />
                                </svg>
                                <svg id="svg-masked-face-3" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200">
                                    <image id="masked-face-3" href="../static/img/no_points.png" width="100%" />
                                </svg>
                                <svg id="svg-warped-face-1" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200">
                                    <image id="warped-face-1" class="w-100" href="../static/img/missing_face.svg" />
                                </svg>
                                <svg id="svg-warped-face-2" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200">
                                    <image id="warped-face-2" class="w-100" href="../static/img/missing_face.svg" />
                                </svg>
                                <svg id="svg-warped-face-3" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200">
                                    <image id="warped-face-3" href="../static/img/missing_face.svg" width="100%" />
                                </svg>
                                <use id="usebox-svg-warped-face-2" xlink:href="#svg-warped-face-2" />
                                <use id="usebox-svg-warped-face-1" xlink:href="#svg-warped-face-1" />
                                <use id="usebox-svg-masked-face-2" xlink:href="#svg-masked-face-2" />
                                <use id="usebox-svg-masked-face-1" xlink:href="#svg-masked-face-1" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% include "similarfaces.html" %}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>