<section id="heatmap" class="shadow-lg">
    <div class="container">
        <div class="row row-eq-height pt-4">
            <div class="col-6 p-4">
                <div id="my_dataviz"></div>
            </div>
            <div class="col-6 p-4">
                <h2>Heat map</h2>
                <hr/>
                <p>
                    The heat map on the left shows for every period within the corresponding century the most dominant color group. For this visualization the skin color space has been divided into 200 groups. A pattern can be extracted from the visualization, namely that darker colors were more frequent during earlier times and yellow in the later times. These results can be explained by the artists exercising its artistic freedom of how a person can be portrayed. 
                </p>
                <h2>Explore</h2>
                <hr/>
                <p>
                    Below every single portrait can be found with the now selected filters. When hovering over the portrait, one can obtain more information about the art-work.
                </p>
            </div>
        </div>
    </div>
</section>
