<div class="col-12 p-0">
    <small>Most Similar Faces: </small>
    <br>
    <small>from left (most similar) to right (increasingly less similar)</small>
    <svg id="faces-simbar" class="w-100 d-inline" viewbox="0 0 1000 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
    </svg>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>
  
    <!-- Modal Content (The Image) -->
    <img class="modal-content img-responsive" id="img01" >
  
    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
  </div>